.App {
  text-align: center;
  .ant-page-header-heading-extra {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    .localeButton {
      margin: 2px;
    }
  }
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}